@charset "utf-8";

html{font-size: 16px;

background-image: url(../image/%E3%82%8D%E3%81%A3%E3%81%91%E3%82%93%E3%80%80%E3%81%8D%E3%81%96%E3%81%84.jpg );

    background-size: cover;
} 

a{text-decoration: none;
    margin: 0 4px 0 0;
    padding: 4px;
border: 1px solid #666666;
border-radius: 12px;
    background: linear-gradient(#ffffff, #888888);
}
body{font-family: sans-serif;}

p{ color: #00ff00;


    text-align: justify;
    text-align:center;
   
        
    

}
#p1{margin: 2% 15% 2% 17%;
text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}

.p2{
    margin:0 22% 0 26%;
text-align: center;
text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}
#p3{margin:20px 50px 20px 50px;
    text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;
line-height: 2em;}
#p4{
margin: 20px 50px 20px 50px;
    text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;
    line-height: 3em;
}
#p5{margin: 0 23% 0 23%; 
    text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;
}
#p6{margin: 2% 23% 0 23%; 
text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}
#p7{margin: 0 15% 0 15%;
text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}
#p8{margin: 2% 23% 0 23%;
text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}
#p9{margin: 0 23% 0 28%; 
    text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}
#p10{color:aliceblue; 
    text-shadow:  2px  2px 3px red,
            -2px  2px 3px red,
             2px -2px 3px red,
            -2px -2px 3px red;}
#p11{color:black;
text-shadow:  2px  2px 3px white,
            -2px  2px 3px white,
             2px -2px 3px white,
            -2px -2px 3px white;}

table{background-color: aliceblue;}
h1{ text-align: center;
    color:aliceblue;
 text-shadow:  2px  2px 3px black,
            -2px  2px 3px black,
             2px -2px 3px black,
            -2px -2px 3px black;}

